<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <div id="term_container">
            <h2>Welcome to CMS, Admin!</h2>
            <h3>Current Term</h3>
            <h4 th:text="${term.toString()}"></h4>
            <p th:text="'Start Date: ' + ${term.getStartDate()}"></p>
            <p th:text="'End Date: ' + ${term.getEndDate()}"></p>
            <p th:text="'Registration Deadline: ' + ${term.getRegistrationDeadline()}"></p>
            <p th:text="'WDN Deadline: ' + ${term.getWdnDeadline()}"></p>
            <p th:text="'Withdrawal Deadline: ' + ${term.getWithdrawalDeadline()}"></p>
            <p th:text="'Current Date: ' + ${currentDate}"></p>
        </div>
        <div>
            <div>
                <form th:action="@{/term}" th:method="PUT">
                    <label for="date_cont">Change Term Date: </label><input type="date" id="date_cont" name="newTermDate" required min="1900-01-01" max="2100-01-01">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <br/>
            <table>
                <thead>Actions</thead>
                <tr><td><a th:href="@{/courses}">View Courses</a></td></tr>
                <tr><td><a th:href="@{/course_offerings}">View Course Offerings</a></td></tr>
                <tr><td><a th:href="@{/term/create}">Create Term</a></td></tr>
                <tr><td><a th:href="@{/courses/create}">Create Course</a></td></tr>
                <tr><td><a th:href="@{/course_offerings/create}">Create Course Offering</a></td></tr>
                <tr><td><a th:href="@{/applications}">Manage Applications</a></td></tr>
                <tr><td><a th:href="@{/user/list/STUDENT}">Manage Students</a></td></tr>
                <tr><td><a th:href="@{/user/list/PROFESSOR}">Manage Professors</a></td></tr>
            </table>
            <br/>
            <table>
                <thead>Users</thead>
                <tbody>
                <tr>
                    <td>User Id</td>
                    <td>Username</td>
                    <td>Type</td>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getAuthority()}"></td>
                    <td th:if="${user.getAuthority() != 'ADMIN'}"><a th:href="@{/user/{user_id}(user_id = ${user.getId()})}">View</a></td>
                </tr>
                </tbody>
            </table>
            <br/>
            <table>
                <thead>Event log</thead>
                <tbody>
                    <tr>
                        <th>time</th>
                        <th>type</th>
                        <th>description</th>
                    </tr>
                    <tr th:each="event: ${events}">
                        <td th:text="${event.time}"></td>
                        <td th:text="${event.type}"></td>
                        <td th:text="${event.description}"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p>Event logger preferences</p>
                <form th:action="@{/admin/set-event-logger-prefs}" th:method="POST">
                    <div th:each="pref, iter: ${eventLoggerPrefs}">
                        <input type="checkbox" th:id="pref + ${iter.count}" th:name="pref + ${iter.count}" th:value="${pref.key}" th:checked="${pref.value}">
                        <label th:for="pref + ${iter.count}" th:text="${#strings.substring(pref.key, 0, #strings.length(pref.key)-14)}"></label>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </body>
</html>