<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>Application form</p>
    <form id="application" method="post" th:method="post" th:action="@{/applications/{id}/approve(id=${appl.getId()})}">
        <div class="application-form">

            <div><label for="email">Email</label>
                <input id="email" type="email" required minlength="2"></div>
            <div><label for="name">First name</label>
                <input id="name" type="text" required minlength="2"></div>
            <div><label for="last_name">Last name</label>
                <input id="last_name" type="text" required minlength="2"></div>
            <div><label for="is_student">Are you a student?</label>
                <input type="checkbox" id="is_student"></div>
            <div id="birth_date_cont">
                <label for="birth_date">Select your birth date</label>
                <input type="date" id="birth_date" required min="1900-01-01" max="2100-01-01">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
<script>
    var birthDateConId = 'birth_date_cont';
    var birthDateId = 'birth_date';
    var birthDateCont = document.getElementById(birthDateConId);
    var birthDate = document.getElementById(birthDateId);
    birthDateCont.style.display = 'none';
    birthDate.removeAttribute('required');

    function toggleBirthDateVisibility(show) {
        if (show) {
            birthDateCont.style.display = 'block';
            birthDate.setAttribute('required', '');
        } else {
            birthDateCont.style.display = 'none';
            birthDate.removeAttribute('required');
        }
    }

    (function () {
        var isStudentId = 'is_student';
        var isStudent = document.getElementById(isStudentId);
        isStudent.addEventListener('change', function (ev) {
            toggleBirthDateVisibility(this.checked)
        })
    })()

</script>
</body>
</html>

