<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <h2>Course offerings list</h2>
        <form th:action="@{/course_offerings/filter}" th:object="${filterForm}" th:method="post">
            <table>
                <thead>
                    <th>Filters</th>
                </thead>
                <tbody>
                    <tr>
                        <td><label for="codeFilter">Course Code: </label></td>
                        <td><input id="codeFilter" type="text" th:field="*{filters[__'Code'__]}"/></td>
                    </tr>
                    <tr>
                        <td><label for="termFilter">Term: </label></td>
                        <td>
                            <select id="termFilter" th:field="*{filters[__'Term'__]}">
                                <option value="none">Any Term</option>
                                <option th:each="term: ${terms}" th:value="${term.getId()}" th:text="|${term.toString()}|"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="hasHighlighting">Enable Highlighting: </label></td>
                        <td><input id="hasHighlighting" type="checkbox" th:field="*{hasHighlighting}"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Course</th>
                    <th>Term</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="courseOffr: ${courseOfferings}">
                    <td th:text="${courseOffr.id}">
                        </td>
                    <td>
                        <a th:href="@{/course_offerings/{courseOffrId}(courseOffrId=${courseOffr.id})}"
                           th:text="${courseOffr.course.code}"></a>
                    </td>
                    <td th:text="|${courseOffr.term}|"></td>
                    <td th:text="|${courseOffr.professor.firstName} ${courseOffr.professor.lastName}|"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>