<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <h2>Courses list</h2>
        <table>
            <thead>
                <tr>
                    <th>Course code</th>
                    <th>Course name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course: ${courses}">
                    <td>
                        <a th:href="@{/courses/{courseId}(courseId=${course.id})}" th:text="${course.code}"></a>
                    </td>
                    <td th:text="${course.name}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>