<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments.html :: head"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<br/>
<div th:if="${status != null}">
    <div th:if="${status?.isSuccessful()}" class="accent success" th:text="${status?.getText()}">
    </div>
    <div th:if="${status != null && !status?.isSuccessful()}"
         th:text="${status?.getError()}"
         class="accent error">
    </div>
</div>
<h2 th:text="${'Create a new course deliverable for ' + deliverable.getCourseOffr().getCourse().getName()}"></h2>
<form th:action="@{/courses-offerings/{id}/deliverables(id=${deliverable.getCourseOffr().getId()})}"
      th:method="post"
      th:object="${deliverable}"
      enctype="multipart/form-data">

    <input th:field="*{id}" th:type="text" id="deliverable_id" hidden/>
    <input th:field="*{filename}" th:type="text" id="deliverable_filename" hidden/>
    <div>
        <label for="deliverable_name">Name</label><br>
        <input th:field="*{name}" th:type="text" id="deliverable_name" required/>
    </div>
    <div>
        <label for="deliverable_deadline">Deadline</label><br>
        <input th:type="datetime-local"
               id="deliverable_deadline"
               th:onchange="validate()"
               th:field="*{deadline}"
               required
        />
    </div>
    <div>
        <label for="deliverable_file">Instructions</label>
        <input id="deliverable_file" th:field="*{file}"
               th:type="file" accept=".pdf, .zip, .docx"/>
    </div>
    <div  th:if="${deliverable.getFilename() != null}">
        <a th:href="@{/courses-offerings/{courseOffrId}/deliverables/{delivId}/files/{file}(
            courseOffrId=${deliverable.getCourseOffr().getId()},
            delivId=${deliverable.getId()}, file=${deliverable.getFilename()})}">
            Download current instructions (will be replace if you select a new file)
        </a>
    </div>
    <div>
        <label for="deliverable_desc" style="display: block">Description</label>
        <textarea id="deliverable_desc" name="deliverable_desc" rows="4" cols="50"
                  th:field="*{description}"
                  th:text="*{description}"
                  required></textarea>
    </div>
    <button type="submit">Save</button>
    <button type="reset">Reset</button>
</form>
<script>
    function validate() {
        const deadlineId = 'deliverable_deadline';
        const deadlineElem = document.getElementById(deadlineId);

        const now = new Date();
        const deadline = new Date(deadlineElem.value);
        if (deadline.getTime() <= now.getTime()) {
            deadlineElem.value = null;
        }
    }
</script>
</body>
</html>