<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <h2>Course info</h2>
        <table>
            <tr>
                <td>Course</td>
                <td>
                    <a th:href="@{/courses/{courseId}(courseId=${courseOffering.course.id})}" th:text="${courseOffering.course.code}"></a>
                </td>
            </tr>
            <tr>
                <td>Term</td>
                <td>
                    <a th:href="@{/terms/{termId}(termId=${courseOffering.term.id})}" th:text="${courseOffering.term}"></a>
                </td>
            </tr>
            <tr>
                <td>Professor</td>
                <td>
                    <a th:href="@{/users/{userId}(userId=${courseOffering.professor.id})}" th:text="|${courseOffering.professor.firstName} ${courseOffering.professor.lastName}|"></a>
                </td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td th:text="${courseOffering.capacity}"></td>
            </tr>
            <tr th:if="${!courseOffering.students.isEmpty()}">
                <td>Students</td>
                <td>
                    <ul th:each="student: ${courseOffering.students}">
                        <li>
                            <a th:href="@{/users/{userId}(userId=${student.id})}" th:text="|${student.firstName} ${student.lastName}|"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/course_offerings/{courseOffering}(courseOffering=${courseOffering.id})}" th:method="DELETE">
            <button type="submit">Delete course offering</button>
        </form>
    </body>
</html>