<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html" lang="en">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <h2>Course info</h2>
        <table>
            <tr>
                <td>Course</td>
                <td>
                    <a th:href="@{/courses/{courseId}(courseId=${courseOffering.course.id})}" th:text="${courseOffering.course.code}"></a>
                </td>
            </tr>
            <tr>
                <td>Term</td>
                <td>
                    <a th:href="@{/terms/{termId}(termId=${courseOffering.term.id})}" th:text="${courseOffering.term}"></a>
                </td>
            </tr>
            <tr>
                <td>Professor</td>
                <td>
                    <a th:href="@{/users/{userId}(userId=${courseOffering.professor.id})}" th:text="|${courseOffering.professor.firstName} ${courseOffering.professor.lastName}|"></a>
                </td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td th:text="${courseOffering.capacity}"></td>
            </tr>
            <tr th:if="${!courseOffering.students.isEmpty()}">
                <td>Students</td>
                <td>
                    <ul th:each="student: ${courseOffering.students}">
                        <li>
                            <a th:href="@{/users/{userId}(userId=${student.id})}" th:text="|${student.firstName} ${student.lastName}|"></a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td sec:authorize="hasAuthority('PROFESSOR')">
                    <a th:href="@{/course_offerings/{id}/deliverables/create(id=${courseOffering.id})}">Create deliverable</a>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <h3>Deliverables</h3>
        <table th:if="${user.getAuthority().equals('PROFESSOR') || user.getAuthority().equals('ADMIN') || registered}">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Due date</th>
                <th>Description</th>
                <th>Instructions</th>
                <th sec:authorize="hasAuthority('PROFESSOR')">Graded Submissions</th>
                <th>Action</th>
                <th sec:authorize="hasAuthority('STUDENT')">Grade</th>
            </tr>
            <tr th:each="deliv, iter : ${courseOffering.getDeliverables()}">
                <td th:text="${iter.count}"></td>
                <td th:text="${deliv.getName()}"></td>
                <td th:text="${deliv.getDeadline()}"></td>
                <td th:text="${deliv.getDescription()}"></td>
                <td th:if="${deliv.getFilename() != null}">
                    <a th:href="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/files/{file}(
                    courseOffrId=${courseOffering.getId()},
                    delivId=${deliv.getId()},
                    file=${deliv.getFilename()})}">
                        Download
                    </a>
                </td>
                <td sec:authorize="hasAuthority('PROFESSOR')">
                    <div th:text="${gradedStudents.gradedStudentsData}"></div>
                </td>
                <td sec:authorize="hasAuthority('PROFESSOR')">
                    <div>
                        <div>
                            <a th:href="@{/course_offerings/{courseOffrId}/deliverables/{delivId}(
                        courseOffrId=${courseOffering.getId()},
                        delivId=${deliv.getId()})}">
                                Edit
                            </a>
                        </div>
                        <div>
                            <a th:href="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/submissions(
                            courseOffrId=${courseOffering.id},
                            delivId=${deliv.getId()})}">
                                See all submissions
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <form sec:authorize="hasAuthority('PROFESSOR')"
                          th:action="@{/course_offerings/{courseOffrId}/deliverables/{delivId}(
                          courseOffrId=${courseOffering.getId()},
                          delivId=${deliv.getId()})}"
                          th:method="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                    <form sec:authorize="hasAuthority('STUDENT')"
                          enctype="multipart/form-data"
                          th:action="@{/course_offerings/{courseOffrId}/deliverables/{delivId}(
                            courseOffrId=${courseOffering.getId()},
                            delivId=${deliv.getId()})}"
                          th:method="post">
                        <input id="submission_file" name="file"
                               th:type="file" accept=".pdf, .zip, .docx"/>
                        <button type="submit">Upload</button>
                    </form>
                    <a sec:authorize="hasAuthority('STUDENT')"
                       th:href="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/submissions/{subId}/files/{file}(
                        courseOffrId=${deliv.getCourseOffering().getId()},
                        delivId=${deliv.getId()},
                        file=${deliv.getStudentSubmission(user)?.getFilename()},
                        subId=${deliv.getStudentSubmission(user)?.getId()})}"
                       th:text="${deliv.getStudentSubmission(user)?.getFilename()}"
                    >
                    </a>
                </td>
                <td sec:authorize="hasAuthority('STUDENT')"
                    th:text="${#numbers.formatDecimal(deliv.getStudentSubmission(user)?.getGrade(), 1, 2, 'POINT')}"
                >
                </td>
            </tr>
        </table>
        <h3>Gradebook</h3>
        <form th:if="${user.getAuthority().equals('PROFESSOR') || user.getAuthority().equals('ADMIN')}"
              th:action="@{/course_offerings/{courseOffering}/grades(courseOffering=${courseOffering.id})}" th:method="PUT" th:object="${courseOffrGradesForm}">
            <ul th:if="${#fields.hasErrors('*')}" class="error">
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
            <table>
                <tr>
                    <th>Student</th>
                    <th>Final Grade</th>
                    <th>Letter Grade</th>
                </tr>
                <tr th:each="studGrade : ${courseOffering.studentGrades}">
                    <td th:text="|${studGrade.student.firstName} ${studGrade.student.lastName}|"></td>
                    <td><input type="text" th:value="${studGrade.grade}" th:field="*{studentGrades[__${studGrade.student.id}__]}" th:disabled="${studGrade.letterGrade == 'WDN'}"></td>
                    <td><input th:value="${studGrade.letterGrade}" disabled></td>
                </tr>
                <tr sec:authorize="hasAuthority('PROFESSOR')">
                    <td colspan="3"><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
        <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/course_offerings/{courseOffering}(courseOffering=${courseOffering.id})}" th:method="DELETE">
            <button type="submit">Delete course offering</button>
        </form>
        <form sec:authorize="hasAuthority('STUDENT')" th:if="${!registered}" th:action="@{/course_offerings/{courseOffering}/register(courseOffering=${courseOffering.id})}" th:method="POST">
            <button type="submit">Register</button>
        </form>

    </body>
</html>