<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/index.css" rel="stylesheet"/>
    <title>Course Management System</title>
</head>
<body>
<p th:text="'Welcome to the Course Management System, ' + ${name} + '!'"></p>
<p th:text="'We have these user types'"></p>
<table>
    <thead>
        My first read from the db
    </thead>
    <tbody>
    <tr th:each="type: ${userTypes}">
        <td th:text="${type.getId()}"></td>
        <td th:text="${type.getType()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>