<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <p>Welcome to the Course Management System</p>
        <h2 th:text="${term.toString()}"></h2>
        <p th:text="'Start Date: ' + ${term.getStartDate()}"></p>
        <p th:text="'End Date: ' + ${term.getEndDate()}"></p>
        <p th:text="'Registration Deadline: ' + ${term.getRegistrationDeadline()}"></p>
        <p th:text="'WDN Deadline: ' + ${term.getWdnDeadline()}"></p>
        <p th:text="'Withdrawal Deadline: ' + ${term.getWithdrawalDeadline()}"></p>
        <p th:text="'Current Date: ' + ${currentDate}"></p>
    </body>
    <script th:if="${status != null}" th:inline="javascript">
        if (![[${status.isSuccessful()}]]) {
            alert("Error: " + [[${status.getError()}]]);
        }
    </script>
</html>