<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments.html :: head"></head>
    <body>
        <header th:insert="fragments.html :: nav"></header>
        <div id="term_container">
            <h2>Welcome to CMS, Student!</h2>
            <h3>Current Term</h3>
            <h4 th:text="${term.toString()}"></h4>
            <p th:text="'Start Date: ' + ${term.getStartDate()}"></p>
            <p th:text="'End Date: ' + ${term.getEndDate()}"></p>
            <p th:text="'Registration Deadline: ' + ${term.getRegistrationDeadline()}"></p>
            <p th:text="'WDN Deadline: ' + ${term.getWdnDeadline()}"></p>
            <p th:text="'Withdrawal Deadline: ' + ${term.getWithdrawalDeadline()}"></p>
            <p th:text="'Current Date: ' + ${currentDate}"></p>
        </div>
        <table th:if="${!user.getTakingCourseOfferings().empty}">
            <thead>Registered Courses</thead>
            <tbody>
            <tr>
                <td>Offering Id</td>
                <td>Course</td>
                <td>Term</td>
                <td>Professor</td>
                <td>Action</td>
            </tr>
            <tr th:each="courseOffr: ${user.getTakingCourseOfferings()}">
                <td th:text="${courseOffr.id}">
                </td>
                <td>
                    <a th:href="@{/course_offerings/{courseOffrId}(courseOffrId=${courseOffr.id})}"
                       th:text="${courseOffr.course.code}"></a>
                </td>
                <td th:text="|${courseOffr.term}|"></td>
                <td th:text="|${courseOffr.professor.firstName} ${courseOffr.professor.lastName}|"></td>
                <td>
                    <form th:action="@{/course_offerings/{courseOffrId}(courseOffrId = ${courseOffr.id})}" th:method="put">
                        <button type="submit">Drop</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>