<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: head"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 th:text="'Submissions for ' + ${courseOffering.toString()}"></h2>
<div>
    <a th:href="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/submissions/grades(
                            courseOffrId=${courseOffering.getId()},
                            delivId=${deliverable.getId()})}">Download excel</a>
</div>
<div>
    <form enctype="multipart/form-data"
          th:action="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/submissions/grades(
                            courseOffrId=${courseOffering.getId()},
                            delivId=${deliverable.getId()})}"
          th:method="PUT">
        <input id="submission_file" name="file"
               th:type="file" accept=".xlsx"
        required/>
        <button id="upload_grades_btn" type="submit">Upload grades</button>
    </form>
</div>
<br/>
<table th:if="gradeStats.mean != 0">
    <thead>Submission Grade Statistics</thead>
    <tr>
        <td>Mean</td>
        <td th:text="${gradeStats.mean}"></td>
    </tr>
    <tr>
        <td>Median</td>
        <td th:text="${gradeStats.median}"></td>
    </tr>
    <tr>
        <td>Mode</td>
        <td th:text="${gradeStats.mode}"></td>
    </tr>
    <tr>
        <td>Number of 0s</td>
        <td th:text="${gradeStats.num_zeros}"></td>
    </tr>
</table>
<br/>
<table id="submission_table">
    <tr>
        <th>Student id</th>
        <th>Email</th>
        <th>Name</th>
        <th>File</th>
        <th>Submitted</th>
        <th>Grade</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getUsername()}"></td>
        <td th:text="${student.getFirstName()} + ' ' + ${student.getLastName()}">
        <td>
            <a sec:authorize="hasAuthority('PROFESSOR')"
               th:if="${student.getSubmissionForDeliverable(courseOffering, deliverable) != null}"
               th:href="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/submissions/{subId}/files/{file}(
                            courseOffrId=${courseOffering.getId()},
                            delivId=${deliverable.getId()},
                            file=${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getFilename()},
                            subId=${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getId()})}"
               th:text="${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getFilename()}"
            >
            </a>
        </td>
        <td>
            <div th:if="${student.getSubmissionForDeliverable(courseOffering, deliverable) != null}">
                 <span th:if="${student.getSubmissionForDeliverable(courseOffering, deliverable)?.isLate()}"
                       th:text="'Late by ' + ${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getLate()}"></span>
                <span th:if="${!student.getSubmissionForDeliverable(courseOffering, deliverable)?.isLate()}"
                      th:text="${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getSubmissionDttm()}"></span>
            </div>
        </td>
        <td>
            <form sec:authorize="hasAuthority('PROFESSOR')"
                  th:if="${student.getSubmissionForDeliverable(courseOffering, deliverable) != null}"
                  th:action="@{/course_offerings/{courseOffrId}/deliverables/{delivId}/submissions/{subId}(
                          courseOffrId=${courseOffering.getId()},
                          delivId=${deliverable.getId()},
                          subId=${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getId()})}"
                  th:method="PUT">
                <input th:id="'grade'+${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getId()}"
                       th:value="${student.getSubmissionForDeliverable(courseOffering, deliverable)?.getGrade()}"
                       name="grade"
                       type="number"
                       step="0.01"
                       min="0"
                       max="100"/>
                <button type="submit">Save</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>